<div class="row">
    <div class="tiles algorithm">                       
            <h1 class="algo-name">Volume Algo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quibusdam, totam vero expedita repellendus iste?.</p>
            <div class="switch">
                <div class="on">
                    <button class="on-button" value=1>ON</button>
                </div>
                <div class="off">
                    <button class="off-button turn-off" value=1>OFF</button>
                    <button class="off-button abort" value=1>Abort</button>
                    <button class="off-button sq" value=1>Square off</button>
                </div>
            </div>
    </div>
    <div class="tiles algorithm williams">
        <h1 class="algo-name">Williams Algo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quibusdam, totam vero expedita repellendus iste?.</p>
        <div class="switch">
            <div class="on">
                <button class="on-button" value=2>ON</button>
            </div>
            <div class="off">
                <button class="off-button turn-off" value=2>OFF</button>
                <button class="off-button abort" value=2>Abort</button>
                <button class="off-button sq" value=2>Square off</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="tiles coming-algo">
        <h2>Comming Soon</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quibusdam, totam vero expedita repellendus iste?.</p>
    </div>
    <div class="tiles coming-algo">
        <h2>Comming Soon</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quibusdam, totam vero expedita repellendus iste?.</p>
    </div>
</div>
