<div class="algo-orders">
    <div class="menu-btns">
        <div class="refresh">
            <button class="refresh-btn"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
        <div class="download-csv">
            <button class="csv-btn"><i class="fa fa-download" aria-hidden="true"></i></button>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="bg-info">
            <th>Time</th>
            <th>Label</th>
            <th>Type</th>
            <th>Algorithm</th>
            <th>Close Price</th>
        </thead>
        <tbody id="algo_orders_table">
        </tbody>
    </table>
    <script src="../static/js/algo_orders_table.js"></script>
    <script>

        $(".refresh-btn").click(function() {
            fetch('/algo_orders').then(function(response) {
    return response.json()
  }).then(function(obj) {
      buildAlgoOrdersTable(obj)

  })
        })


    </script>
</div>