<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Control</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>    
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="../static/css/tabular.css">
    <link rel="stylesheet" href="../static/css/chart.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-items">
                <li><a class="nav-algo">Algorithm</a></li>
                <li><a class="nav-algo-order">Algo Orders</a></li>
                <li><a class="nav-position">Positions</a></li>
                <li><a class="nav-order">Orders</a></li>
                <li><a class="nav-news">News</a></li>
                <li><a class="nav-chart">Chart</a></li>
                <li><button class="logout">Logout</button></li>
              </ul>
        </nav>

        <div class="master-control">
            <div class="on">
                <button class="on-button">ON</button>
            </div>
            <div class="off">
                <button class="off-button turn-off">OFF</button>
                <button class="off-button abort">Abort</button>
                <button class="off-button sq">Square off</button>
            </div>
        </div>
        <section>
            <div class="main-content algo-wrapper">{% include 'algo_control.html' %}</div>
            <div class="main-content algo-order-wrapper">{% include 'algo_order.html' %}</div>
            <div class="main-content holding-wrapper">{% include 'positions.html' %}</div>
            <div class="main-content orders-wrapper">{% include 'orders.html' %}</div>
            <div class="main-content news-wrapper">{% include 'news.html' %}</div>
            <div class="main-content chart-wrapper">{% include 'chart.html' %}</div>
        </section>
    </div>
    <script src="../static/js/base_functionality.js"></script>
</body>
</html>