<div class="news-row">
    <div class="news-feed">
        <a href="http://www.youtube.com" target="_blank">
        <img class="news-icons"src="../static/img/youtube.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Youtube</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://twitter.com/?lang=en" target="_blank">
        <img class="news-icons"src="../static/img/twitter.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Twitter</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">
        <img class="news-icons"src="../static/img/wikipedia-logo.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Wiki</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://www.instagram.com/" target="_blank">
        <img class="news-icons"src="../static/img/instagram.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Instagram</span>
        </div>
    </div>
</div>
<div class="news-row">
    <div class="news-feed">
        <a href="https://www.quora.com/" target="_blank">
        <img class="news-icons"src="../static/img/quora.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Quora</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://twitter.com/?lang=en" target="_blank">
        <img class="news-icons"src="../static/img/linkedin.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>LinkedIn</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">
        <img class="news-icons"src="../static/img/wikipedia-logo.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Wiki</span>
        </div>
    </div>
    <div class="news-feed">
        <a href="https://www.instagram.com/" target="_blank">
        <img class="news-icons"src="../static/img/instagram.png" alt="oops!!!" srcset=""></a>
        <div class="tile-title">
            <span>Instagram</span>
        </div>
    </div>
</div>

