<div class="orders">
    <div class="executed-orders">
        <h1 id="total-orders"></h1>
    </div>
    <table class="table table-striped">
        <thead class="bg-info">
            <th>Time</th>
            <th>Type</th>
            <th>Instrument</th>
            <th>Product</th>
            <th>Qty.</th>
            <th>Avg.Price</th>
            <th>Status</th>
        </thead>
        <tbody id="myTable">
        </tbody>
    </table>
    <script src="../static/js/orders_table.js"></script>
</div>