<div class="positions">
    <div class="net-position-content">
        <div class="net-position-count">
            <h1 id="net-position"></h1>
        </div>
        <table class="table table-striped">
            <thead class="bg-info">
                <th>Product</th>
                <th>Instrument</th>
                <th>Qty.</th>
                <th>Avg.</th>
                <th>LTP</th>
                <th>P&L</th>
            </thead>
            <tbody id="net-positionTable">
            </tbody>
        </table>   
    </div>

    <div class="day-position-content">
        <div class="day-position-count">
            <h1 id="day-position"></h1>
        </div>
        <table class="table table-striped">
            <thead class="bg-info">
                <th>Product</th>
                <th>Instrument</th>
                <th>Qty.</th>
                <th>Avg.</th>
                <th>LTP</th>
                <th>P&L</th>
            </thead>
            <tbody id="day-positionTable">
            </tbody>
        </table>   
    </div>

    <script src="../static/js/positions_table.js"></script>

</div>