*{
    margin: 0;
    padding: 0;
  }
  
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
  }
  
  .intro{
    font-size: 45px;
    margin-bottom: 50px;
    color: #313E4E;
  }

  .datetime{
    color: #000;
    width: 340px;
    padding: 15px 10px;
    border-radius: 5px;
    transition: 0.5s;
    transition-property: background, box-shadow;
    margin-bottom: 20px;
  }
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }

  .login-button {
    background: #00C3AA;
      color: #fff;
      border: 4px solid #00C3AA;
      padding: 15px 32px;
      text-align: center;
      text-transform: capitalize;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
      font-family: "Segoe UI", sans-serif;
    }

  .login-button:hover{
    box-shadow: 0 35px 40px rgb(0 195 170 / 30%);
  }

  .login-button:active{
    transform: translateY(1px);
  }

  /* algo_control */
  .nav-items{
    list-style: none;
    display: flex;
  }

  .nav-items a{
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}