*{
    margin: 0;
    padding: 0;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
}

nav{
  width: 80%;
}

.nav-items{
    width: 100%;
    list-style: none;
    display: flex;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-around;
  }

.nav-items a{
    display: block;
    color: #000;
    text-align: center;
    padding: 7px 24px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid transparent;
    cursor: pointer;
}

.active{
  border-bottom: 3px solid #00C3AA !important;
}

.nav-items a:hover{
    border-bottom: 3px solid #00C3AA;
}

.logout{
  background-color: #00C3AA; /* Green */
  border: 3px solid #00C3AA;
  color: #fff;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 85%;
}

.logout:hover{
    box-shadow: 0 10px 10px rgb(0 195 170 / 20%);
}

.master-control{
    display: flex;
    margin-top: 25px;
    width: 80%;
    justify-content: flex-end;
}

.on{
    margin-right: 10px;
}

.on-button{
  background-color: transparent; /* Green */
  border: 3px solid #00C3AA;
  color: #00C3AA;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.off{
    border: 3px solid #00C3AA;
} 

.off-button{
  background-color: transparent; /* Green */
  border: none;
  border-right: 2px soild #00C3AA;
  color: #00C3AA;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  }

.on-button:hover{
    background-color: #00C3AA;
    color: #fff;
}

.off-button:hover{
    background-color: #00C3AA;
    color: #fff;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.algo-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
  }
  .row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .tiles{
    flex-basis: 40%;
    background-color: #F2F4F4;
    padding: 35px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  }

  .algorithm{
    text-align: center;
  }

  .algo-name{
    padding-bottom: 30px;
  }

  .tiles:hover{
    box-shadow: 0 10px 10px rgb(0 195 170 / 20%);
  }

  .comming-algo{
    color: #313E4E;
    text-align: center;
  }

  .comming-algo h2{
      padding-bottom: 15px;
  }

  .comming-algo:hover{
    filter: opacity(30%);
  }

  .switch{
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  .switch .on{
    flex-basis: 20%;
  }

  .switch .on-button{
    padding: 5px 20px;
  }

  .switch .off{
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
  }

  .switch .off-button{
    padding: 5px 20px;
  }

  .react-on{
    background: #00c3a92f;
  }

  .react-off{
    background: #F2F4F4;
  }

  .react-abort{
    background: #F2F4F4;
  }

  .react-sq{
    background: #F2F4F4;
  }

  /* news */

  .news-content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
  }

  .news-wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
  }

  .news-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .news-feed{
    flex-basis: 15%;
    background-color: #F2F4F4;
    padding: 35px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #313E4E;
  }

  .news-feed:hover{
    background-color: #00c3a938;
    transform: scale(1.1);
  }

  .news-feed span{
    font-weight: 700;
  }
  .news-icons{
    height: 50px;
    width: 50px;
  }

  .tile-title{
    margin-top: 10px;
    font-family: "Segoe UI", sans-serif;
    font-weight:600;
  }

  .algo-order-wrapper{
    margin: 0 auto;
    margin-top: 30px;
  }

  .holding-wrapper{
    margin: 0 auto;
    margin-top: 30px;
  }

  .orders-wrapper{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }


  .chart-wrapper{
    margin: 0 auto;
    margin-top: 30px;
    width: 67%;
  }

  /* when no chart is selected */
  .no-chart-info{
    font-size: 30px;
    color: #313E4E;
    text-align: center;
  }

  .chart-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
  }

  .ins-ch-wrap{
    display: flex;
    margin-bottom: 20px;
  }

  .highlight-bottom{
    margin-top: 30px;
    box-shadow: 0 11px 6px 0 rgb(0 0 0 / 10%);
    position: relative;
  }

  .roll{
    height: 12px;
    width: 12px;
    position: absolute;
    cursor: pointer;
  }



  /* instrument check box */

  .regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }

  .regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

  .regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #00C3AA;
  }

  .big-checkbox {
    padding: 15px;
  }
  
  .big-checkbox:checked:after {
    font-size: 22px;
    left: 6px;
  }

  .instrument-title{
    margin-left: 20px;
    color: #313E4E
  }

  .instrument-selector{
    flex-basis: 20%;
    margin-bottom: 5%;
  }

  .chart{
    height: 874px;
    overflow: auto;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 54%);
    padding: 44px;
    flex-basis: 75%;
  }

  /* custom scrollbar for graph portion*/
.chart::-webkit-scrollbar {
  width: 25px;
}

.chart::-webkit-scrollbar-track {
  background-color: transparent;
}

.chart::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.chart::-webkit-scrollbar-thumb:hover {
  background-color: #00C3AA;
}


/* Style buttons */
.csv-btn {
  background-color: #00C3AA;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.refresh-btn{
 background-color: #00C3AA;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.download-csv{
margin-left: 90.5%
}

.menu-btns{
    display: flex;
}
/* Darker background on mouse-over
.csv-btn:hover {
  background-color: RoyalBlue;
} */