*{
    box-sizing: border-box;
}

section{
   margin-top: 5%;
}

.table{
   letter-spacing: 1px;
}

.orders{
   display: flex;
   flex-direction: column;
   border-collapse: collapse;
   width: 100%;
}

.bg-info th {
   color: #fff;
   background-color: #00C3AA;
}

.positions{
   display: flex;
   flex-direction: column;
}

.day-position-content{
   margin-top: 7%;
}

th {
    color: #fff;
}

tbody td {
   text-align: center;
   padding: 8px;
   color: #313E4E;
   font-size: 17px;
   font-weight: 500;
 }

 tbody tr{
      background-color: #F2F4F4;
   }
 

 thead th{
   padding: 20px 50px;
   
 }

 .net-position-count{
   margin-bottom: 1%;
 }

 .day-position-count{
   margin-bottom: 1%;
 }

 .executed-orders{
   margin-bottom: 1%;
 }

#pagination{
    list-style: none;
    display: flex; 
   margin: auto 0;   
}
#pagination li{
    margin-right: 5px;
}

 #pagination li button{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    
 }

.page-warpper{
   display: flex;
   margin: 0 auto;
   padding: 4%;
}

 #pagination .myBtn:hover{
    background-color:#00C3AA;
    transform: scale(1.2);
 }

 #pagination .bt-active{
    background-color:#00C3AA;
 }
 
 #pagination .special{
    width: 95.59px;
 }
 #pagination .special:hover{
    padding: 10px;
    transform: scale(1.1);
 }